body {
  background-image: url("images/logo.png");
  background-color: black;
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: center top;
}

.header {
  display: flex;
  justify-content: center;
}
.middle {
  display: flex;
  justify-content: center;
}

button {
  font-family: arial;
  padding: 10px 20px;
  font-size: 50px;
  margin-top: 400px;
  background-color: #eee;
  opacity: 80%;
}

.container {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.wrapper {
  display: inline-flex;
  justify-content: center;
  margin: 100px;
}

.number {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 150px;
  height: 150px;
  background-color: yellow;
  border-radius: 50%;
  color: black;
  font-size: 70px;
}

.mega {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 150px;
  height: 150px;
  background-color: blue;
  border-radius: 50%;
  color: white;
  font-size: 70px;
}

.space {
  display: block;
  padding: 100px;
}
