body {
  background-color: black;
}

.header {
  display: flex;
  justify-content: center;
}
.middle {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.wrapper {
  display: inline-flex;
  justify-content: center;
  margin: 100px;
}

.number {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: yellow;
  border-radius: 50%;
  color: black;
  font-size: 70px;
}

.mega {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  color: white;
  font-size: 70px;
}

.space {
  display: block;
  padding: 100px;
}
